$app-header-bg: #25292f;
$app-header-text-color: #c8c9cb;
$default-text-color: #292929;
$default-page-bg: #fafafa;
$default-border-color: #dbdbdb;

$default-transition-duration: 0.5s;

$active-color: #26a69a;
$not-valid-color: #ee6e73;
